@import 'bootstrap/variables';

* {
  outline: none !important;
}

::selection {
  background-color: theme-color('primary');
  color: $white;
}

::-moz-selection {
  background-color: theme-color('primary');
  color: $white;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}
