.start {
  justify-content: flex-start;
}

.logo {
  width: 180px;
  height: auto;
}

.background {
  background-image: linear-gradient(to top, #c31432, #240b36);
  height: 100%;
  overflow-y: auto;
}
