.bottom {
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

.third {
  width: 33%;
}

.thirdish {
  width: 34%;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.wrapper {
  max-width: 375px;
  max-height: 667px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
