.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

.third {
  width: 33%;
}

.thirdish {
  width: 34%;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
